body {
	background-color:black;	
	background-image: url(../Images/Dragonborn.png);
}

#LoreBody{
	background-color:black;


}


#AltmerBody{
	
background-image: url(../Images/HighElf.png);
position: 50px 50px 0px 0px;	
	
}

#ArgonianBody{

background-image: url(../Images/ArgonianBody.png);	
	
	
}

#BosmerBody{

		background-image: url(../Images/BosmerBody.png);	
	
	
}

#BretonBody{
		background-image: url(../Images/BretonBody.png);

}
	
#KhajiitBody{
		background-image: url(../Images/KhajiitBody.png);


}

#ImperialBody{
		background-image: url(../Images/ImperialBody.png);

}

h1,h2,h3,h4,h5,h6,p{
	font-family: Georgia;
	font-style: italic; /* Cursive */
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
	text-align: center;
	color:white;
	
}

nav{
	width: 80%;
	height: 80px;
	margin: 10px auto 0px auto;
}

nav a{
	color:white;
}

nav a:hover{ /* How it looks when you hover with muose */
	color:orange;
}

#current{ 
	text-decoration:none;	
}

.navLink{
	position:relative;
	float:left;
	width:20%;	
	height:76px;
}

.container1,.container2,.container3,.container4{
	position:relative;
	width: 92%;
	margin: 0px auto 0px auto; /* top right bottom left */
	border: 20px white solid; /* border-width border-color border-style*/
	border-radius:50px;
	
	
	
}



#center{


text-align: center;
margin: 20px 30px 20px 20px;


}

#Races1{
	text-decoration: none;
	float:left;
	margin: 25px 0px 0px 50px;


}

#AltmerText, #ImperialText{
	
float:right;
margin: 0px 300px 0px 0px;
	
	
}

.containerltmer{
					position:relative;
	width: 40%;
	margin: 0px auto 0px auto; /* top right bottom left */
	border: 20px white solid; /* border-width border-color border-style*/
	border-radius:200px;
	float:left;
	
}

#ArgonianText{
		float:left;
		margin:0px 0px 0px 150px;	
	
	
}

#BosmerText{
	float:right;
	margin: 0px 300px 0px 0px;
	
}

#BretonText{
	float:right;
	margin: 0px 300px 0px 0px;

}

iframe{

top:100px;
left:0px;
right:100px;
down:0px;

}
	