body {
	background-color:black;	
	background-image: url(../Images/Dragonborn.png);
	
}

.site{
		overflow-x:hidden;
}

#LoreBody{
	background-image:url(../Images/LoreBackground.png);
	background-size:30%;
	
	


 
}


#AltmerBody{
	
background-image: url(../Images/HighElf.png);
position: 50px 50px 0px 0px;	
	
}

#ArgonianBody{

background-image: url(../Images/ArgonianBody.png);	
	
	
}


#BosmerBody{

		background-image: url(../Images/BosmerBody.png);	
	
	
}

#BretonBody{
		background-image: url(../Images/BretonBody.png);

}
	
#KhajiitBody{
		background-image: url(../Images/KhajiitBody.png);


}

#BethesdaBody{
		background-image: url(../Images/BethesdaBody.png);

}
#ImperialBody{
	background-image: url(../Images/ImperialBody.png);

}
#OrcBody{
	background-image: url(../Images/OrcBody.png);

}
#RedguardBody{
	background-image: url(../Images/RedguardBody.png);

}
#DunmerBody{
	background-image: url(../Images/DunmerBody.png);

}
#NordBody{
	background-image: url(../Images/NordBody.png);
}
h1,h2,h3,h4,h5,h6,p{
	font-family: Georgia;
	font-style: italic; /* Cursive */
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
	text-align: center;
	color:white;

	
}
a{
	text-decoration:underline;
	color:blue;

}

nav{
	width: 100%;
	height: 80px;
	margin: 10px auto 0px auto;
}

nav a{
	color:white;
}

nav h2:hover{ /* How it looks when you hover with muose */
	color:blue;
}



#current{ 
	text-decoration:none;	
}

.navLink{
	position:relative;
	float:left;
	width:20%;	
	height:76px;
}

.container , .container1 , .container3 , 	.container4{
	position:relative;
	width: 92%;
	margin: 0px auto 0px auto; /* top right bottom left */
	border: 20px white solid; /* border-width border-color border-style*/
	border-radius:50px;	
	
	
	
}

.videoContainer{
	margin: 0px auto 0px auto; 
	width: auto; 
	
}

#width560{
	width:560px;
}


#width800{
	width:800px;
}


#width1120{
	width:1120px;
	

}

.GIFContainer{
	
	width:auto;
}

#GIF1{
	margin: 20px 50px 20px 410px

}


#GIF2{
	margin: -225px 50px 20px 1220px

}

.ContainerLore{

	background: linear-gradient(to right, black, darkblue, black);
	position:center;
	width:81%;
	border: 0.1px gray solid;
	margin: -10px auto -100px auto;
	height:auto;
	border-top:0px;
	border-bottom:0px;

}

.container2{

	position:relative;
	width: 92%;
	height:100%;
	margin: 0px auto 0px auto;
	border: 20px white solid; 
	border-radius:50px;
	



}



.center{


text-align: center;
margin: 20px 30px 20px 30px;


}



.RaceList h1{
	text-decoration: none;
	float:left;
	margin: 25px 0px 0px 50px;
}
.containerAltmer{
	position:relative;
	float:right;
	width: 50%;
	height:900px;
	margin: 10px auto 0px 40px;
	border: 10px white solid; 
	border-radius:50px;

}
#AltmerText{
	
float:right;
margin: 0px 300px 0px 0px;
	
	
}
.containerNord{
	position:relative;
	float:left;
	width: 40%;
	height:650px;
	margin: 10px auto 0px 40px;
	border: 10px white solid; 
	border-radius:50px;

}
#NordText{
size:100%;

}
.containerDunmer{
	position:relative;
	float:right;
	width: 50%;
	height:750px;
	margin: 10px auto 0px 0px;
	border: 10px white solid; 
	border-radius:50px;
}
#DunmerText{
	position:relative;
	margin:auto 10px auto 10px;

}


.containerImperial{
	position:relative;
	float:right;
	width: 50%;
	height:900px;
	margin: 10px auto 0px 40px;
	border: 10px white solid; 
	border-radius:50px;
}
#ImperialText{
	float:right;
	margin:auto 300px auto auto;



}
.containerBosmer{
	position:relative;
	float:right;
	width: 50%;
	height:810px;
	margin: 10px auto auto 40px;
	border: 10px white solid; 
	border-radius:50px;

}
#BosmerText{
position:relative;
margin:auto auto auto 10px;


}
.containerOrc{
	position:relative;
	float:left;
	width: 50%;
	height:810px;
	margin: 10px auto 0px 40px;
	border: 10px white solid; 
	border-radius:50px;


}


.containerArgonian{
	position:relative;
	float:left;
	width: 45%;
	height:600px;
	margin: 10px auto 0px 40px;
	border: 10px white solid; 
	border-radius:50px;
}

#ArgonianText{
		position:center;
		margin:0px 0px 0px 0px;	
	
	
}

#BosmerText{
	float:right;
	margin: 0px 30px 0px 0px;
	
}
.containerBreton{
	position:relative;
	float:right;
	width: 50%;
	height:840px;
	margin: 10px auto 0px 40px;
	border: 10px white solid; 
	border-radius:50px;


}
#BretonText{
	float:right;
	margin: auto 10px auto auto;

}

#BethesdaText{
		position:center;
		margin: 0px 0px 0px 0px;
		font-size:200%;

}

.FalloutText{
		position:center;
		font-family: Georgia;
		font-style: italic; /* Cursive */
		margin: 0px 0px 0px 0px;
		font-size:250%;
		
}
.containerKhajiit{
	position:relative;
	float:left;
	width: 40%;
	height:780px;
	margin: 10px auto 0px 40px;
	border: 10px white solid; 
	border-radius:50px;

}



#KhajiitText{
		float:left;
		font-size: 110%;
		color:white;

}
.containerRedguard{
	position:relative;
	float:right;
	width: 50%;
	height:780px;
	margin: 10px auto 0px 40px;
	border: 10px white solid; 
	border-radius:50px;

}
#RedguardText{
margin: auto 10px auto 10px;

}

#UESP{
color:black;

}

iframe{

top:100px;
left:0px;
right:100px;
down:0px;

border-radius: 0px;

}

{

top:100px;
left:10px;
right:50px;
down:0px;


}

#SkyrimTheme{
	height:0px;
	width:0px;
	border:1px black solid;
	
}


	